*{
				/*height: 100%;*/
}
body{
				background-image: linear-gradient(to bottom, white, orange);
				background-attachment: fixed;
				
}
main{
				background-color: white;
				margin: auto;
				width: 350px;
				border-radius: 7px;
				box-shadow: 4px 3px 9px rgb(129, 126, 0);
				h1{
								color: blue;
								text-align: center;
								text-shadow: 5px 5px 15px rgb(41, 66, 229);
				}
				h2{
								color: blueviolet;
				}
				
}
