@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100dvh;
  font-family: Arial, Sans-Serif;
  font-size: 1em;
  line-height: 1.5em;
}

header {
  padding: 20px;
}

section.flex-content {
  padding: 20px;
  background: rgb(156, 156, 156);
  display: flex;
  flex-flow: column nowrap;
}

section.normal {
  padding: 20px;
}

p, h1, h2 {
  margin-bottom: 10px;
  text-align: justify;
}

h1, h2 {
  margin-bottom: 20px;
  text-align: left;
  line-height: 1.5em;
}

article#media-text {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
}

article#text-media {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

article > div.text {
  flex: 1 1 500px;
  /*border: 2px dashed blue;*/
}

article > div.media {
  flex: 1 1 500px;
  /*border: 2px dashed red;*/
}

div.media > img {
  display: block;
  margin: auto;
  width: 300px;
}

div.media > iframe {
  display: block;
  margin: auto;
  width: 90%;
}